* {
  font-family: 'Oswald', sans-serif;
}

h1{
  font-weight:bold;
  text-decoration: underline;
  font-size:40px
}
#title{
  text-align: center;
  font-weight: 700;
}

header{
  border-bottom: 1px solid black;
}

.headers{
  text-decoration: underline;
  font-size:25px
}

#choix{
  text-align: center
}

.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

.ant-menu-item-active {
  background-color: pink; /*Overriden property*/
}

.Home{
  display : flex;
  align-items: center;
  text-align: center;
}

.Login-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.Login-input{
margin: 15px;
width: 400px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  margin: 40px;
}

.Sign .Login-input{
width: 250px;
}

.Profil-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  margin: 40px;
}

#profil-box{
  width: 100%;
  height: auto;
  margin:15px;
}

#params-crea{
  width: auto;
  height: auto;
  margin:15px;
}

.Map{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
   margin: 40px;
  
}

.Dashboard-page{
  display: flex;
  flex-direction: column;
  }

#dashboard-box{
  border: 1px solid black ;
  width: auto;
  height: auto;
  margin:15px;
}

.Basket-page{
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* justify-content: left; */
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .Mask-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#retrait{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin:15px;

}

#total{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

} */